<div class="main">
  <img src="/img/google.png" alt="google logo" />
  <form action="/results" name="search" method="post" class="search">
    <input name="searchBar" type="search"/>
    <button>Search</button>
  </form>
</div>
